.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;        /* <- altura exata da tela */
  overflow: hidden;     /* <- impede scroll global */

  .center {
    width: 100%;
    height: 100%;       /* <- ocupa toda área */
    overflow-y: auto;   /* <- só o center terá scroll */
    padding: 15px;
    box-sizing: border-box;
  }

  .menuSide {
    min-width: 15%;
    height: 100vh;      /* <- deixa o menu fixo */
    overflow: hidden;   /* evita scroll no menu */

    @media screen and (max-width:900px) {
      min-width: auto;
    }
  }

  @media screen and (max-width:800px) {
    .rightSide {
      display: none;
    }
  }

  .rightSide {
    width: 35%;
    height: 100vh;      /* mantém altura fixa */
    background-color: var(--card);
    box-shadow: var(--shadow-sm);
    overflow-y: auto;   /* caso o conteúdo seja longo */
  }
}
